@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #DADFE8;
}

/* Pokedex */
.pokedex {
  display: flex;
  gap: 30px;
}